<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>Login</title>
</head>
<header>
  <div class="header">
    <center><img src="https://www.duoc.cl/wp-content/themes/wordpress-duoc-cl/images/logo-duoc.svg" width="400"
        height="110" class="imglogo"></center>
  </div>
</header>

<body>
  <br>
  <div class="div-title">
  <center>
    <h2 class="title1"> Sistema de Votación de Consejeros de Carrera</h2>
  </center>
</div>
  <div class="contenedor" align="center">
    <div class="container">

    <form method="" action="" >

      <h2>INICIA SESION CON TU CORREO INSTITUCIONAL<h2>

          <a href="/auth/google"><input type="button" value="INGRESA AQUI" class="btn-ingreso" id="btn-ingreso"></a>

    </form>
    </div>
  </div>

</body>

<footer>

</footer>

</html>